@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }

::-webkit-scrollbar {
  display: none;
}

/* Standard property (Firefox, IE, Edge) */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: sans-serif;
  background: var(--background);
  color: var(--foreground);
}

main {
  width: 100%;
  margin: 120px 28px 250px 28px;
  padding: 0 28px;
  max-width: 1336px;
  display: flex;
  flex-direction: column;
  row-gap: 250px;
}

button {
  /* border: none; */
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
